.grettings {
}
.container {
}
.gretting__content {
}
.header {
}
.logo {
}
.nav.list {
}
.grettings__desk {
}
.grettings__title {
}
.grettings__text {
font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
line-height: 104%;
text-align: center;
color: #22253b;
}
.btn1 {
}